In [1]:
import pandas as pd
import numpy as np

In [9]:
private = pd.read_csv('../data/test_data/quality_response_remapped_private.csv', index_col=0)
ranks = pd.read_csv('submission.csv', index_col=0)

In [10]:
private.head()

    Unnamed: 0  left  right  T1_ALR  T2_CL  T3_GF  T4_MQ  T5_NS
15          15   145    762       2      2      2    2.0      2
31          31   307    208       1      1      1    2.0      1
25          25   278    195       1      1      1    1.0      1
3            3    13    153       2      2      2    2.0      2
40          40    23    100       2      1      1    1.0      1

In [11]:
ranks.head()

            ranking
QuestionId
0               422
1               929
2               564
3               894
4               170

In [53]:
pred = []
for i, row in private.iterrows():
    left, right = row['left'], row['right']
    valueL, valueR = ranks.iloc[int(left),0], ranks.iloc[int(right),0]
    pred.append(1 if valueL < valueR else 2)
accResult = (np.mean(pred == private['T1_ALR']),
                np.mean(pred == private['T2_CL']),
                np.mean(pred == private['T3_GF']),
                np.mean(pred == private['T4_MQ']),
                np.mean(pred == private['T5_NS']))
print(accResult)

(0.64, 0.6, 0.68, 0.76, 0.72)